---
layout: base.njk
baslik: Arama
permalink: /ara/
sitemapDisi: true
---
<div class="prose"><h1>Arama</h1></div>
<p id="ara-durum" class="empty" style="padding-left:0">Aranıyor…</p>
<div id="ara-sonuc"></div>
<script src="/js/ara.js" defer></script>
