---
layout: base.njk
---
<div class="wrap pad">
  <div class="about">
    <div class="who">
      <h1>{{ baslik }}</h1>
      <blockquote>{{ alinti }}</blockquote>
    </div>
    {% if foto %}
    <figure class="portrait">
      <div class="frame"><img src="{{ foto }}" alt="{{ baslik }}" width="600" height="750"></div>
    </figure>
    {% endif %}
    <div class="cvcard">
      <h2>Özgeçmiş</h2>
      {{ content | safe }}
    </div>
  </div>
</div>
